.container {
    overflow: hidden;
	display: flex;
}
	.sidebar{
		height: 500px;
		border-radius: 4px;
		margin: 20px;
		border:1px solid #777;
	}
	.sidebar{
		width: 300px;
		float: left;
		position: absolute;
	}
	.content{
		flex-grow: 1;
	}
