---
---

@import "{{ site.theme }}";
.container {
  overflow: hidden;
}

.sidebar{
	width: 300px;
	float: left;
	position: absolute;
	}
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar a {
  display: block;
  padding: 0.5rem 0;
  color: #157878;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}

.main-content {
  width: 630px;
}
