---
---

@import "{{ site.theme }}";
.container {
  display: flex;
  max-width: 64rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  min-height: 100%;
}

.sidebar {
  flex: 0;
  padding-right: 2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar a {
  display: block;
  padding: 0.5rem 0;
  color: #157878;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}

.main-content {
  flex: 1;
}
